.brd-right {
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  margin: 0;
  padding: 0;
}

.section-header {
  background-color: gray;
  color: white;
  text-align: center;
}

.filter-container {
  padding: 12px 0px;
  text-align: end;
}
.add-task {
  height: 50px;
  width: 50px;
  background-color: blue;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  i {
    position: relative;
    margin-left: 33%;
    margin-top: 30%;
    font-size: 20px;
    color: white;
  }
}
.required {
  color: red;
}
.error {
  color: red;
  font-size: 10px;
}
